/* hide UI when printing */
.wrapper {
    display: none;
}

* {
    margin: 0 auto;
    padding: 0;
}

.printed {
    width: 210mm;
    height: 297mm;
}

body {
    display: block;
    text-align: center;
}

img {
    margin-right: 0.5mm;
    margin-left: 0.5mm;
    page-break-inside: avoid;
}

/* padding on top of the pages */
.page {
    padding-top: 1.5mm;
    page-break-after: always;
}
